html {
    background-color: #f0f0f0;
}

#load-page-form, #update-page-form {
    margin: 20px;
}

#page-editor {
    border: 1px solid black;
    min-height: 250px;
    min-width: 250px;
}

.form-label {
    font-size: x-large;
    font-family: Helvetica;
}

.form-button {
    font-size: larger; 
    font-family: Helvetica;
}

.edit-text {
    cursor: text;
}

.edit-text:hover {
    background-color: #eeeeff;
    border: 1px solid #ccccff;
}

.edit-img {
    cursor: nwse-resize;
}

.active-edit-text {
    border: 1px solid blue;
    color: blue;
}