#page-editor{
    border: 1px solid black;
    padding: 10px;
    min-height: 250px;
    min-width: 250px;
}

.edit-text{
    cursor: text;
}

.edit-text:hover{
    background-color: #eeeeff;
    border: 1px solid #ccccff;
}

.active-edit-text{
    border: 1px solid blue;
    color: blue;
    background-color: #fafafa;
}